.static1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 150px;
    width: 500px;
    background-color: rgba(255, 248, 235, 0.861);
    margin: 20px 0 0 0;
    color: var(--main-color);
}

.image img {
    height: 150px;
    width: auto;
    margin: 20px 0 0 0;
    border: 2px solid rgba(255, 248, 235, 0.861);
}

.static2 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.motty img {
    height: 200px;
    width: auto;
    margin: 20px 0 0 0;
    border: 2px solid rgba(255, 248, 235, 0.861);
}

.review1 img {
    height: 200px;
    width: auto;
    margin: 20px 0 0 0;
    border: 2px solid rgba(255, 248, 235, 0.861);
}