.header {
  margin: 0 0 0 0;
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  padding: 0;
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Bitter", serif;
  padding-left: 20px;
}

.header a {
  font-size: larger;
  font-weight: 600;
  margin-right: 40px;
  text-decoration: none;
  color: var(--main-color);
}